@use './abstracts/variables';

body {
    font-size: 2rem;
    font-family: variables.$basicFont;
    background: variables.$backgroundColor;
    color: variables.$textColor;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: variables.$textColor;
}