.footer{
    display: flex;
    background: rgb(49, 48, 48);
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}