$textColor : #FA7070;
$hoverColor :#C6EBC5;
$backgroundColor: rgb(252, 244, 203);
$boxColor: #A1C298;
$italicFont: 'Pacifico', cursive;
$basicFont: 'Raleway', sans-serif;
$gradientColor: linear-gradient(151deg, rgba(251, 242, 207, 1) 0%, rgba(198, 235, 197, 1) 85%);


